
/*@import url('https://fonts.googleapis.com/css?family=Macondo');*/
/*@import url('https://fonts.googleapis.com/css?family=Slabo+27px');*/
/*@import url('https://fonts.googleapis.com/css?family=Indie+Flower');*/
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa');*/
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
body {
    background-color: #E4F1D8;
    max-width: 1700px;
    margin-bottom: 0;
}

#topcontainer {
    position: relative;
    overflow: hidden;
    height: 45vw;
    min-height: 550px;
}

.bodyWrapper::after {
    content: "";
    background: url(../img/mud_maid.jpg);
    background-position: 6%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    max-width: 1700px;
    background-attachment: fixed;
    overflow: hidden;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #fff !important;
}

ul.nav li a {
    color: #000 !important;
    font-size: 1.5vw;
    font-family: 'Comfortaa';
    text-shadow: .5px .5px 1px #000000;
    font-size: 2vw;

}

.navbar .nav > li > a {
    line-height: 100px;
}

h2 {
    font-family: 'Comfortaa';
    margin-right: 15vw;
    text-shadow: 1px 1px 2px #000000;
    font-size: 2.5vw;
}

#fog {
    margin-top: 4.5vw;
    background-color: #fff;
    background: -webkit-linear-gradient(left,rgba(255,255,255,.2),rgba(255,255,255,.8)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,.2),rgba(255,255,255,.8)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,.2),rgba(255,255,255,.8)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,255,255,.2), rgba(255,255,255,.8));
    height: 27vw;
    border-radius: 30%;
    min-height: 225px;
}

#insidefog {
    padding-top: 1.5vw;
}


.inspire {
    width: 120%;
    font-family: 'Architects Daughter';
    font-size: 2.7vw;
    font-weight: 200;
    padding-left: 4vw;
    line-height: 170%;
}

/*PORTFOLIO SECTIONAL -----------------------------------------------------------------------------------*/


#portfolioSection {
    box-shadow: 0 0 2vw 1vw #4f544a;
    height: 60vw;
    /*position: relative;*/
}

#backcontainerportfolio {
    /*position: absolute;*/
}

#allFairyDivsWrapper {
    position: relative;
}

.fairyWrapper {
    display: inline-block;
    position: absolute;
}

.fairyImages {
    width: 15vw;
    height: auto;
}

#simonDiv {
    margin-top: 5vw;
    margin-left: 55vw;
}
#tictactoeDiv {
    margin-top: 19vw;
    margin-left: 5vw;
}

#konamiDiv {
    margin-top: 26vw;
    margin-left: 60vw;
}

#calculatorDiv {
    margin-top: 35vw;
    margin-left: 22vw;
}

#weatherFairy {
    float: left;
    margin-left: 8vw;
    margin-bottom: -6.5vw;
}

#simonFairy {
    margin-left: -14.5vw;
    margin-bottom: -7vw;
}

#tictactoeFairy {
    margin-left: -13.5vw;
    margin-bottom: -3.5vw;
}

#konamiFairy {
    margin-left: 10vw;
    margin-bottom: -6.8vw;
}

#calculatorFairy {
    margin-left: 10vw;
    margin-bottom: -3.8vw;
}

#tictactoeBanner{
    margin-left: 1.5vw;
}

.fairyBanner {
    color: grey;
    text-shadow: .5px .5px 0px black;
    font-family:  'Tangerine';
    font-size: 2.5vw;
    margin: 0;
}

@keyframes mymove {
    50% {transform: rotate3d(0,1,0,360deg);
    }}

.thumbnails  {
    height: 6vw;
    width: auto;
    max-height: 900px;
    z-index: 100;
    cursor: url(../img/wandBlack.png), pointer;
    animation: mymove 5s infinite;
}


.sparkle {
    height: 6vw;
    width: 8vw;
    margin-bottom: -6vw;
    margin-right: -3vw;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20%;
    transition: margin-left 1.2s ease-in;
    background-image: url("../img/yellowSparkle.gif");
    background-size: contain;
    display: none;
    max-height: 900px;
    z-index: 200;
}

/*RESUME SECTION ----------------------------------------------------------------------------------------------*/

#resumeSection {
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 2%;
}

#resume {
    font-family: Calibri;
}

.backcontainerresume {
    width: 80%;
    height: 40vw;
    margin-left: 10%;
    margin-top: 4%;
    background-color: #EEEDF3;
}

#details {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: .5em;
}

#profilePic {
    margin-top: 10%;
    padding-left: 9%;
}

#profilePic img {
    height: 10%;
    border-radius: 50%;
}

#profilePicMobile img {
    display: none;
}

h4 {
    font-weight: bold;
}

#detailsContact {
    padding-left: 3em;
}

a {
    text-decoration: none;
    color: black;
}

#contactMe {
    margin-top: -1em;
}

i {
    margin-left: .5em;
}

#detailsContact a  {
    text-decoration: none;
}

#profCrow {
    margin-top: 5%;
    margin-left: 25%;
    font-size: 1.3em;
}

#stars h4{
    padding-left: .5em;

}

#starTable {
    width: 80%;
}

@media screen and (max-width: 760px) {

    .bodyWrapper::after {
        background-size: cover;
    }

    .mainnav {
        display: block !important;
        text-align: center;
    }

    h2 {
        font-size: 6vw;
        margin-left: 10%;
    }

    ul.nav li a {
        font-size: 3.5vw;
    }

    #insidefog {
        padding-top: 3vw;
    }

    #fog {
        min-height: 175px;
    }

    .inspire {
        width: 100%;
    }

    /*PORTFOLIO =======================================*/

    .fairyWrapper {
        display: block;
        margin: 0;
    }

    /*RESUME +++++++++++++=====================================*/
    .backcontainerresume {
        height: 60em;
    }

    #profilePic {
        display: none;
    }

    #detailsContact {
        margin-top: 1.5em;
        padding-left: 1em;
    }

    #details {
        margin-top: 1em;
    }

    #profilePicMobile img {
        display: inline-block;
        margin-left: 2em;
        height: 10%;
        border-radius: 50%;
    }

    #proficiencies {
        margin-left: -5em;
    }

    #stars {
        width: 40%;
        font-size: .55em !important;
    }

    #stars h4 {
        padding: 0;
        font-size: 1.7em !important;
    }

    #languages {
        width: 50%;
        font-size: .56em !important;
    }

    #languages h4 {
        font-size: 1.7em;
    }

    .backcontainer {
        padding: 0;
    }

    #startable {
        font-size: 80%;
    }
}

@media screen and (max-width: 600px) {

    .inspire {
        font-size: 3.5vw;
    }

}

