
@import url('https://fonts.googleapis.com/css?family=Macondo');

#welcome::after {
    content: "";
    background: url("../img/mud_maid.jpg");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #fff !important;
}

ul.nav li a {
    color: #000 !important;
    font-size: 1.5em;
}

.navbar .nav > li > a {
    line-height: 100px;
}

#fog {
    margin-top: 5em;
    background-color: #fff;
    background: -webkit-linear-gradient(left,rgba(255,255,255,.1),rgba(255,255,255,.6)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,.1),rgba(255,255,255,.6)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,.1),rgba(255,255,255,.6)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,255,255,.1), rgba(255,255,255,.6));
    height: 25em;
    border-radius: 30%;


}

#insidefog {
    padding-top: 8em;
}

#inspire {
    font-family: 'Macondo';
    font-size: 2em;
    padding-left: 2em;
}